<body>
	<!-- *** MAIN NAV START *** -->
{{> nav}}
	<!-- *** MAIN NAV END *** -->
	<!-- *** SEARCH BAR START *** -->
	<form>
		<div class="container bg-light">
			<div class="row py-3">
				<div class="col">
					<div class="input-group mb-3">
						<span class="input-group-text"
							><i class="fa-solid fa-location-dot"></i
						></span>
						<select
							type="select"
							class="form-control form-select"
							name="location"
						>
							<option value="all">Any Location</option>
							<option value="KP1">Koh Phangan</option>
							<option value="KS1">Kah Samui</option>
							<option value="BA1">Bali</option>
						</select>
					</div>
				</div>
				<div class="col">
					<div class="input-group mb-3">
						<span class="input-group-text"
							><i class="fa-solid fa-house"></i
						></span>
						<select
							type="select"
							class="form-control form-select"
							name="rooms"
						>
							<option value="all">Any Rooms</option>
							<option value="1">1 Room</option>
							<option value="2">2 Rooms</option>
							<option value="3">3 Rooms</option>
							<option value="4">4 Rooms</option>
							<option value="5">5 Rooms</option>
						</select>
					</div>
				</div>
				<div class="col">
					<div class="input-group mb-3">
						<span class="input-group-text"
							><i class="fa-solid fa-dollar-sign"></i
						></span>
						<input
							name="max-price"
							type="number"
							class="form-control"
							placeholder="Max Price"
						/>
					</div>
				</div>
				<div class="col">
					<div class="input-group mb-3 price-sort-button" name="price-sort">
						<label class="input-group-text" for="inputGroupSelect01"
							><i class="fa-solid fa-sort"></i
						></label>
						<select class="form-select">
							<option selected value="low">Price (Low to High)</option>
							<option value="high">Price (high to Low)</option>
						</select>
					</div>
				</div>
				<div class="col">
					<input
						class="form-control me-2"
						type="search"
						placeholder="House name"
						name="search-bar"
					/>
				</div>
				<div class="col">
					<button class="btn btn-success">Search</button>
				</div>
			</div>
		</div>
	</form>
	<!-- *** SEARCH BAR END *** -->
	<!-- *** HOUSE SEARCH RESULTS START*** -->
	<div class="container text-center">
		<div class="row row-cols-4 g-4">
			<!-- ** House Card Start ** -->
			<div class="col">
				<!-- ***Start House Card -->
				{{#each houses as |house|}}
				<div class="card my-4">
					<img
						src="{{house.photos.[0]}}"
						class="card-img-top"
						alt="..."
					/>
					<div class="card-body">
						<span class="card-link card-location text-muted">{{house.location}}</span>
						<span class="text-muted">• {{house.rooms}} Rooms</span>
						<h5 class="card-title">{{house.title}}</h5>
						<div class="card-location-wrapper1">
							<span class="card-link card-reviews card-location"
								>4 Reviews</span
							>
							<span>{{house.title}}/night</span>
							<a href='/houses/{{house.id}}' class="stretched-link"></a>
						</div>
					</div>
				</div>
				{{/each}}
				<!-- *** End House Card -->
			</div>
			<!-- ** house card end ** -->
		</div>
	</div>
	<!-- *** HOUSE SEARCH RESULTS END *** -->
</body>
