<body>
	<!-- *** MAIN NAV START *** -->
{{> nav}}
	<!-- *** MAIN NAV END *** -->
	<!-- *** HOUSE PHOTOS START*** -->
	<div class="house-photos">
		<div class="container text-center py-4">
			<div class="row">
				<div class="col">
					<img
						src='{{mainPhoto}}'
						class="img-fluid"
						id="MainPhoto"
					/>
				</div>
				<div class="col">
					<div class="container text-center">
						<div class="row row-cols-3 gy-4" >
							{{#each house.photos as |photo|}}
							<div class="col" id="photoList">
								<img
									src="{{photo}}"
									class="img-fluid"
									onclick="choosePhoto(this)"

								/>
							</div>
							{{/each}}
							<!-- //test -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- *** HOUSE PHOTOS END*** -->
	<!-- *** HOUSE INFO START *** -->
	<div>
		<div class="container text-center border-top">
			<div class="row">
				<!-- *** LEFT SIDE START*** -->
				<div class="col-8">
					<h2>{{house.title}}</h2>
					<a href="#" class="card-link card-location">{{house.location}}</a>
					<span>• {{house.rooms}} Rooms</span>
					<!-- *** HOSTED BY START *** -->
					<div class="row">
						<div class="col-1 p-0">
							<div class="nav-logo">
								<img
									src="{{house.host.avatar}}"
									alt=""
									class="profile-button"
								/>
							</div>
						</div>
						<div class="col-11 text-start px-0">
							<span class="text-muted">Hosted By</span>
							<div>{{house.host.name}}</div>
						</div>
					</div>
					<!-- *** HOSTED BY END *** -->
					<div>
						<p class="text-start">{{house.description}}
						</p>
					</div>
				</div>
				<!-- *** LEFT SIDE END***
			*** RIGHT SIDE START*** -->
				<!-- *** REQUEST BOOKING START *** -->
				<div class="col-3 ms-5 m-4">
					<div class="card" style="width: 22rem;">
						<div class="card-body">
							<h5 class="card-title text-start">${{house.price}}/night</h5>
							<p class="text-muted text-start">0 Reviews</p>
							<form class="" action="index.html" method="post">
								<div class="input-group">
									<textarea
										class="form-control"
										name="booking-message"
										placeholder="Send the host a message..."
										rows="8"
										style="height: 100%;"
									></textarea>
								</div>
								<div class="col m-3 text-start">
									<button class="btn btn-success">
										Request Booking
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- *** REQUEST BOOKING END *** -->
				<!-- *** THANK YOU FOR BOOKING START *** -->
				<!-- <div class="col-3 ms-5 m-4">
					<div class="card" style="">
						<div class="card-body">
							<h5 class="card-title text-start">$350/night</h5>
							<p class="text-muted text-start">0 Reviews</p>
							<div>
								<div class="alert alert-success">
									<p>Thank you for your enquiry</p>
									<span>Sent on 9 september 2022</span>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				<!-- *** THANK YOU FOR BOOKING END *** -->
				<!-- *** RIGHT SIDE END*** -->
			</div>
		</div>
	</div>
	<!-- *** HOUSE INFO END *** -->
</body>
